First of all install library with `!pip install` command:

In [84]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.

In [85]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [86]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [87]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [88]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [10]:
print(result.keys)

RMKeyView(['aircraft_code', 'seat_no', 'fare_conditions'])

1. Which fare conditions are available for flights from AER to SVO (i.e. from Adler/Sochi to Sheremetevo/Moscow)

In [118]:
%%sql $CONNECT_DATA
SELECT distinct fare_conditions
FROM ticket_flights 
WHERE flight_id IN (
    SELECT distinct flight_id 
    FROM flights 
    WHERE departure_airport = 'AER' and arrival_airport='SVO')

3 rows affected.

[('Business',), ('Comfort',), ('Economy',)]

2. A list of aircraft models which fly to the Yakutsk AND Abakan cities

In [110]:
%%sql $CONNECT_DATA

SELECT DISTINCT model
FROM aircrafts
WHERE aircraft_code IN (
    SELECT aircraft_code 
    FROM flights 
    WHERE arrival_airport IN (
        SELECT airport_code
        FROM airports
        WHERE city = 'Yakutsk'
    )
)
AND aircraft_code IN (
    SELECT aircraft_code 
    FROM flights 
    WHERE arrival_airport IN (
        SELECT airport_code
        FROM airports
        WHERE city = 'Abakan'
    )
)

1 rows affected.

[('Airbus A319-100',)]

3. A list of aircraft models which fly to the Yakutsk OR Abakan cities

In [111]:
%%sql $CONNECT_DATA

SELECT DISTINCT model
FROM aircrafts
WHERE aircraft_code IN (
    SELECT DISTINCT aircraft_code 
    FROM flights 
    WHERE arrival_airport IN (
        SELECT airport_code
        FROM airports
        WHERE city IN ('Yakutsk', 'Abakan')
    )
)

5 rows affected.

[('Airbus A319-100',),
 ('Boeing 737-300',),
 ('Bombardier CRJ-200',),
 ('Cessna 208 Caravan',),
 ('Sukhoi Superjet-100',)]

4. A list of aircrafts which DONâ€™T fly to Yakutsk city

In [113]:
%%sql $CONNECT_DATA
SELECT DISTINCT model
FROM aircrafts
WHERE aircraft_code not in (
    SELECT DISTINCT aircraft_code 
    FROM flights 
    WHERE arrival_airport in (
        SELECT airport_code
        FROM airports
        WHERE city = 'Yakutsk'
    )
)

6 rows affected.

[('Airbus A320-200',),
 ('Airbus A321-200',),
 ('Boeing 737-300',),
 ('Boeing 767-300',),
 ('Boeing 777-300',),
 ('Cessna 208 Caravan',)]

5. Find out airport codes related to Mrs. 'ELLA DMITRIEVA'  - from where and to where she flew.

In [116]:
%%sql $CONNECT_DATA
SELECT arrival_airport, departure_airport
FROM flights
WHERE flight_id in (
    SELECT flight_id
    FROM ticket_flights 
    WHERE ticket_no in (
        SELECT ticket_no
        FROM tickets
    WHERE tickets.passenger_name = 'ELLA DMITRIEVA')
)

7 rows affected.

[('SVX', 'SVO'),
 ('SVX', 'MQF'),
 ('MQF', 'SVX'),
 ('SVO', 'SVX'),
 ('HMA', 'DME'),
 ('UUS', 'DME'),
 ('DME', 'HMA')]